# Conda environment - exclude everything
PSY9511_env/
# Python
__pycache__/
*.py[cod]
*$py.class
# Jupyter
.ipynb_checkpoints
# OS Files
.DS_Store
# Data and models
*.csv
*.dat
*.pkl
*.h5
data/
models/
results/
